/* vuetify fixes */

.v-application p {
	margin-bottom: 0px;
}

.v-list-item__title,
.v-list-item__subtitle {
	white-space: initial !important;
	-webkit-line-clamp: initial !important;
}

/* typography */

.v-application {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif;
}

.v-application .display-4 {
	font-family: "IBM Plex Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif !important;
}
.v-application .display-3 {
	font-family: "IBM Plex Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif !important;
}
.v-application .display-2 {
	font-family: "IBM Plex Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif !important;
}
.v-application .display-1 {
	font-family: "IBM Plex Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif !important;
}
.v-application .headline {
	font-family: "IBM Plex Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
		sans-serif !important;
}
.v-application .title {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}
.v-application .subtitle-1 {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}
.v-application .subtitle-2 {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}
.v-application .body-2 {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}
.v-application .body-1 {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}
.v-application .caption {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}
.v-application .overline {
	font-family: "IBM Plex Sans Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif !important;
}

code,
kbd,
pre,
samp,
.font-mono,
.v-application .font-mono {
	font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier",
		monospace !important;
}
